networkx==3.0
torch
torchvision
torch-summary
einops
scikit-image
opencv-python
pyclipper
shapely
requests
cryptography
freetype-py
googletrans-py
aiohttp
tqdm
deepl
ImageHash
kornia
backports.cached-property
huggingface_hub>=1.0.0
transformers>=4.40.0
py3langid
sentencepiece
editdistance
numpy
tensorboardX
websockets
protobuf
ctranslate2
colorama
openai>=1.0.0
open_clip_torch
safetensors==0.4.5
pandas
onnxruntime==1.16.1
timm==0.9.7
omegaconf==2.3.0
python-dotenv==1.0.0
nest-asyncio==1.5.8
marshmallow==3.20.1
cython
aioshutil==1.3
aiofiles==23.2.1
arabic-reshaper==3.0.0
pyhyphen
langcodes==3.3.0
gradio>=4.40.0
litellm==0.11.1
pytorch_lightning
whisper-timestamped==1.14.4
ffmpeg==1.4
manga-ocr
langdetect
pydensecrf@https://github.com/lucasb-eyer/pydensecrf/archive/refs/heads/master.zip
accelerate
bitsandbytes